<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
  <packages>
  
   <!--  <package name="crew_Admin" /> -->
    <package name="operation_Admin" />
    <package name="purchase_Admin" />
   <package name="quality_Admin" />
   <package name="technical_Admin" />
  <package name="travel_Admin" />
  </packages>
  <!--   <classes>
      <class name="travel_Admin.TravelAdminTest"/>
    </classes> -->
  </test> <!-- Test -->
</suite> <!-- Suite -->
